<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fonts Properties</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />v
</head>
<body>
    <h1>Font Properties in <span class="material-symbols-outlined">html</span></h1>
    <div class="container">
        <div class="container2">
            <p>Normal text: Hello, This is Rudra Shah</p>
            <p class="fstyle">Font Style: <span>Hello, This is Rudra Shah</span></p>
            <p class="fweight">Font Weight: <span>Hello, This is Rudra Shah</span></p>
            <p class="fsize">Font Size: <span>Hello, This is Rudra Shah</span></p>
            <p class="fvariant">Font Variant: <span>Hello, This is Rudra Shah</span></p>
            <p class="ftransform">Text Transform: <span>Hello, This is Rudra Shah</span></p>
            <p class="fdecoration">Text Decoration: <span>Hello, This is Rudra Shah</span></p>
            <p class="fcolor">Text Color: <span>Hello, This is Rudra Shah</span></p>
            <p class="flineheight">Line Height: <span>Hello, This is Rudra Shah</span></p>
            <p class="fletter">Letter Spacing: <span>Hello, This is Rudra Shah</span></p>
            <p class="fword">Word Spacing: <span>Hello, This is Rudra Shah</span></p>
            <p class="fshadow">Text Shadow: <span>Hello, This is Rudra Shah</span></p>
        </div>
    </div>
</body>
</html>