<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Background Properties in <span class="material-symbols-outlined">html</span></h1>
    <div class="container">
        <div class="container3x">
            <div class="bgdiv">
                <p class="bgc">Background Color: <span>Hello, This is Rudra Shah</span></p>
                <p class="bgi">Background Image: <span>Hello, This is Rudra Shah</span></p>
                <p class="bgp">Background Position: <span>Hello, This is Rudra Shah</span></p>
                <p class="bgs">Background Size: <span>Hello, This is Rudra Shah</span></p>
                <p class="bgr">Background Repeat: <span>Hello, This is Rudra Shah</span></p>
                <p class="bgo">Background Origin: <span>Hello, This is Rudra Shah</span></p>
                <p class="bgc">Background Clip: <span>Hello, This is Rudra Shah</span></p>
                <p class="bga">Background Attachment: <span>Hello, This is Rudra Shah</span></p>
            </div>
            
        </div>
    </div>
</body>
</html>