<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Background Properties in <span class="material-symbols-outlined">html</span></h1>
    <div class="container">
        <div class="container2">
            <div class="bg1">
                <p>Background Color: <span>Hello, This is Rudra Shah</span></p>
            </div>
        </div>
    </div>
</body>
</html>